
  <mat-card-title>Do you or your company need a new website?</mat-card-title>
  
  <mat-card-content>
    <p>
          If you do, then don't go anywhere. I aim to provide clients with simple and intuitive websites, ones that will make viewing your website as simple and comfortable as possible.
          With a stack that includes Angular 6 and Google's Material Design framework, the websites I design are sleek and interactive. On the server side I work with Python and DJango,
          making my websites powerful enough for heavy database use and compatibility with countless Python tools to complete tasks. Whatever the job is, I'll get it done. 
    </p>
    <p>Enough with the sales pitch, head over to the contact tab for a quote!(For a limited time I'm offering promotional pricing at 30$/hr)</p>
        </mat-card-content>


