<!doctype html>
<html lang="en">
<head>
    {% csrf_token %}
  <meta charset="utf-8">
  <title>David Russ: Web Developer</title>
  <base href="/">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Do you or your business need a website? I provide simplistic, pleasing, and easy to navigate designs that are optimized to boost search ratings.">
  <meta name="keywords" content="web designer, web developer, websites, increase profits, affordable, commercial, business, cleveland, columbus">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="javascript">$window.location.href={{url}}</script>
<link rel="stylesheet" href="static/styles.cc716fc53813c89a012e.css"></head>
<body class="accent">
    
        <app-root></app-root>


<script type="text/javascript" src="static/runtime.cf3f0395150367b39aea.js"></script><script type="text/javascript" src="static/es2015-polyfills.c5dd28b362270c767b34.js" nomodule></script><script type="text/javascript" src="static/polyfills.8bbb231b43165d65d357.js"></script><script type="text/javascript" src="static/main.e2e8202b9f678f17e7d0.js"></script></body>
</html>
